/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: ;
    margin: 0;
    direction: rtl;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(138, 135, 135);
    border-radius: 4px;
}

.forgot-password {
    margin-bottom: 20px;
}

.forgot-password a {
    color: #9faebd;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #22f813;
    color: rgb(210, 20, 20);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e0a800;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #e9edf0;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
